{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'dist/css/chunk-vendors.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/app.css' %}">
  {% block links %}
  {% endblock %}
</head>
<body>
{% block body %} {% endblock %}
</body>
    <script src="{% static 'dist/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'dist/js/app.js' %}"></script>

</html>
