.header{
    height: 100px;
    width: 100%;
    transition: height 0.6s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
}

.inner-header{
    max-width: 1670px;
    display: flex;
    margin: auto;

    height: 100%;
    padding: 0 15px;
}

.logo{
    display: flex;
    width: 40%;
}

.logo-text{
    margin: auto 2% auto 0;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-after-text{
    margin: auto 0;
    width: 33%;
    min-width: 227px;

    font-weight: 400;
    font-size: 16px;
}

.h-80{
    height: 80px;
}


/* Nav */
.nav-items{
    display: flex;
    width: 30%;
    text-transform: uppercase;
}

.nav-item-link{
    margin: auto 0 auto 10px;
}

.nav-item-link:first-child{
    margin: auto 0;
}

.nav-item:first-child{
    margin-left: 0;
}


/* Contact */
.contact-part{
    display: flex;
    width: 30%;
    justify-content: end;
}

.contact-item{
    margin: auto 0 auto 10px;
    text-align: end;
}

.contact-item:first-child{
    margin-left: 0;
}


/* Mobile button */
.mobile-nav-button-div{
    display: none;
    justify-content: end;
    width: 7%;
}

.mobile-nav-button{
    border: none;

    cursor: pointer;
    background-color: #ffffff;

}

.mobile-nav-button-line{
    height: 2px;
    width: 20px;
    border-radius: 2px;
    background-color: #000000;

    margin-top: 4px;
}

.mobile-nav-button-line:first-child{
    margin-top: 0;
}


/* Mobile menu */
.mobile-menu{
    margin: 0 auto;
    width: 80%;
    height: auto;

    position: absolute;
    z-index: 1000;

    top: -500px;
    left: 0;
    right: 0;
    transition: top 0.5s ease-in-out;

    background-color: #ffffff;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
}

.mobile-menu.show{
    top: 80px;
}

.d-none{
    display: none;
}

.mobile-menu-nav-items{
    list-style: none;
    padding: 5%;
}

.mobile-menu-link{
    padding: 10px 5%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: block;
}

@media (max-width: 1250px){
    .logo-after-text{
        display: none;
    }

    .contact-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-item{
        margin: 0;
    }

    .separator{
        display: none;
    }
}


@media (max-width: 990px){
    .logo{
        width: 30%;
    }

    .nav-items, .contact-item:last-child{
        display: none;
    }

    .contact-part{
        width: 63%;
    }

    .mobile-nav-button-div{
        display: flex;
    }

    .header{
        height: 80px;
        position: relative;
    }
}

@media (max-width: 575px) {
    .header{
        justify-content: space-between;
    }

    .contact-part{
        display: none;
    }

    .mobile-nav-button-div{
        width: 70%;
    }
}